In [35]:
import pandas as pd

#temp_csv = pd.read_csv("games.csv")
#temp_csv.insert(0, 'Index', range(len(temp_csv)))
#temp_csv.to_csv("nba_games.csv", index=False) # index=False prevents writing the DataFrame's default index as a column

games = pd.read_csv("nba_games.csv", index_col=0)
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
Index,,,,,,,,,,,,,,,,,,,,,
0,2022-12-22,22200477,Final,NOP,SAS,2022,NOP,126.0,0.484,0.926,...,25.0,46.0,SAS,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,UTA,WAS,2022,UTA,120.0,0.488,0.952,...,16.0,40.0,WAS,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,CLE,MIL,2022,CLE,114.0,0.482,0.786,...,22.0,37.0,MIL,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,PHI,DET,2022,PHI,113.0,0.441,0.909,...,27.0,49.0,DET,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,ATL,CHI,2022,ATL,108.0,0.429,1.000,...,22.0,47.0,CHI,110.0,0.500,0.773,0.292,20.0,47.0,0

In [10]:
games.shape

(26651, 21)

In [37]:
games["HOME_TEAM_ID"].value_counts()

HOME_TEAM_ID
LAL    969
MIA    959
BOS    950
SAS    942
CLE    921
GSW    907
DAL    907
LAC    903
DET    903
HOU    900
CHI    899
OKC    893
TOR    891
IND    891
PHX    890
MIL    883
ATL    883
MEM    882
BKN    879
PHI    878
ORL    876
UTA    874
DEN    873
POR    871
WAS    851
NOP    851
MIN    847
SAC    840
NYK    840
CHA    798
Name: count, dtype: int64

In [39]:
games.dtypes

GAME_DATE_EST        object
GAME_ID               int64
GAME_STATUS_TEXT     object
HOME_TEAM_ID         object
VISITOR_TEAM_ID      object
SEASON                int64
TEAM_ID_home         object
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
TEAM_ID_away         object
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
HOME_TEAM_WINS        int64
dtype: object

In [45]:
games["GAME_DATE_EST"] = pd.to_datetime(games["GAME_DATE_EST"])

In [59]:
games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            object
HOME_TEAM_ID                object
VISITOR_TEAM_ID             object
SEASON                       int64
TEAM_ID_home                object
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                object
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
DATE                datetime64[ns]
dtype: object

In [73]:
games["OPP_CODE"] = games["VISITOR_TEAM_ID"].astype("category").cat.codes

In [69]:
games["DAY_CODE"] = games["GAME_DATE_EST"].dt.dayofweek

In [75]:
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,DATE,opp_code,DAY_CODE,OPP_CODE
Index,,,,,,,,,,,,,,,,,,,,,
0,2022-12-22,22200477,Final,NOP,SAS,2022,NOP,126.0,0.484,0.926,...,0.478,0.815,0.321,23.0,44.0,1,2022-12-22,26,3,26
1,2022-12-22,22200478,Final,UTA,WAS,2022,UTA,120.0,0.488,0.952,...,0.561,0.765,0.333,20.0,37.0,1,2022-12-22,29,3,29
2,2022-12-21,22200466,Final,CLE,MIL,2022,CLE,114.0,0.482,0.786,...,0.470,0.682,0.433,20.0,46.0,1,2022-12-21,16,2,16
3,2022-12-21,22200467,Final,PHI,DET,2022,PHI,113.0,0.441,0.909,...,0.392,0.735,0.261,15.0,46.0,1,2022-12-21,8,2,8
4,2022-12-21,22200468,Final,ATL,CHI,2022,ATL,108.0,0.429,1.000,...,0.500,0.773,0.292,20.0,47.0,0,2022-12-21,4,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,ATL,NOP,2014,ATL,93.0,0.419,0.821,...,0.366,0.643,0.375,17.0,43.0,1,2014-10-06,18,0,18
26647,2014-10-06,11400004,Final,CHI,WAS,2014,CHI,81.0,0.338,0.719,...,0.411,0.636,0.267,17.0,47.0,0,2014-10-06,29,0,29
26648,2014-10-06,11400005,Final,LAL,DEN,2014,LAL,98.0,0.448,0.682,...,0.387,0.659,0.500,19.0,43.0,1,2014-10-06,7,0,7
26649,2014-10-05,11400002,Final,TOR,SAC,2014,TOR,99.0,0.440,0.771,...,0.469,0.725,0.385,18.0,45.0,1,2014-10-05,25,6,25
26650,2014-10-04,11400001,Final,MIA,NOP,2014,MIA,86.0,0.431,0.679,...,0.462,0.706,0.438,19.0,42.0,0,2014-10-04,18,5,18

In [79]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)
train = games[games["GAME_DATE_EST"] < '2018-01-01']
test = games[games["GAME_DATE_EST"] >= '2018-01-01']
predictors = ["OPP_CODE", "DAY_CODE"]

In [81]:
rf.fit(train[predictors], train["HOME_TEAM_WINS"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [83]:
preds = rf.predict(test[predictors])

In [87]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(test["HOME_TEAM_WINS"], preds)

In [89]:
acc

0.5399725902238465

In [133]:
combined = pd.DataFrame(dict(actual=test["HOME_TEAM_WINS"], prediction=preds), index=test.index)
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0     1
actual
0           343  2526
1           495  3203

In [135]:
from sklearn.metrics import precision_score

In [137]:
precision_score(test["HOME_TEAM_WINS"], preds)

0.5590853552103334

In [109]:
grouped_games = games.groupby("HOME_TEAM_ID")
group = grouped_games.get_group("GSW")
group

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,DATE,opp_code,DAY_CODE,OPP_CODE
Index,,,,,,,,,,,,,,,,,,,,,
89,2022-12-10,22200392,Final,GSW,BOS,2022,GSW,123.0,0.511,0.800,...,0.437,0.731,0.300,17.0,39.0,1,2022-12-10,2,5,2
126,2022-12-05,22200359,Final,GSW,IND,2022,GSW,104.0,0.404,0.789,...,0.478,0.611,0.385,26.0,47.0,0,2022-12-05,11,0,11
140,2022-12-03,22200342,Final,GSW,HOU,2022,GSW,120.0,0.529,0.500,...,0.440,0.900,0.107,17.0,45.0,1,2022-12-03,10,5,10
152,2022-12-02,22200336,Final,GSW,CHI,2022,GSW,119.0,0.483,0.652,...,0.462,0.667,0.333,28.0,44.0,1,2022-12-02,4,4,4
205,2022-11-25,22200284,Final,GSW,UTA,2022,GSW,129.0,0.515,0.833,...,0.474,0.882,0.244,28.0,42.0,1,2022-11-25,28,4,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26487,2014-11-05,21400068,Final,GSW,LAC,2014,GSW,121.0,0.581,1.000,...,0.463,0.778,0.368,26.0,30.0,1,2014-11-05,12,2,12
26517,2014-11-01,21400038,Final,GSW,LAL,2014,GSW,127.0,0.554,0.857,...,0.466,0.720,0.286,21.0,37.0,1,2014-11-01,13,5,13
26551,2014-10-24,11400117,Final,GSW,DEN,2014,GSW,119.0,0.512,0.655,...,0.500,0.793,0.313,21.0,46.0,1,2014-10-24,7,4,7
26569,2014-10-21,11400096,Final,GSW,LAC,2014,GSW,125.0,0.590,0.800,...,0.386,0.805,0.357,26.0,31.0,1,2014-10-21,12,1,12
26597,2014-10-16,11400063,Final,GSW,DEN,2014,GSW,104.0,0.494,0.667,...,0.456,0.733,0.389,18.0,50.0,1,2014-10-16,7,3,7

In [111]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("GAME_DATE_EST")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [115]:
games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            object
HOME_TEAM_ID                object
VISITOR_TEAM_ID             object
SEASON                       int64
TEAM_ID_home                object
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                object
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
DATE                datetime64[ns]
opp_code                      int8
DAY_CODE                     int32
OPP_CODE                      int8
dtype: object

In [117]:
cols = ["PTS_home", "FG3_PCT_home", "FG_PCT_home", "AST_home", "REB_home"]
new_cols = [f"{c}_rolling" for c in cols]

In [119]:
new_cols

['PTS_home_rolling',
 'FG3_PCT_home_rolling',
 'FG_PCT_home_rolling',
 'AST_home_rolling',
 'REB_home_rolling']

In [121]:
rolling_averages(group, cols, new_cols)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,HOME_TEAM_WINS,DATE,opp_code,DAY_CODE,OPP_CODE,PTS_home_rolling,FG3_PCT_home_rolling,FG_PCT_home_rolling,AST_home_rolling,REB_home_rolling
Index,,,,,,,,,,,,,,,,,,,,,
19105,2003-11-07,20300075,Final,GSW,UTA,2003,GSW,95.0,0.433,0.738,...,1,2003-11-07,28,4,28,96.666667,0.300333,0.477000,20.000000,46.666667
19083,2003-11-10,20300094,Final,GSW,PHX,2003,GSW,96.0,0.450,0.680,...,0,2003-11-10,23,0,23,99.333333,0.375000,0.491000,21.000000,43.333333
19068,2003-11-12,20300110,Final,GSW,DET,2003,GSW,87.0,0.447,0.792,...,1,2003-11-12,8,2,8,96.666667,0.344000,0.443000,22.000000,44.666667
19056,2003-11-14,20300125,Final,GSW,LAC,2003,GSW,98.0,0.418,0.760,...,0,2003-11-14,12,4,12,92.666667,0.251333,0.443333,22.333333,42.000000
19004,2003-11-21,20300173,Final,GSW,MIA,2003,GSW,101.0,0.468,0.741,...,1,2003-11-21,15,4,15,93.666667,0.160000,0.438333,22.666667,45.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2022-11-25,22200284,Final,GSW,UTA,2022,GSW,129.0,0.515,0.833,...,1,2022-11-25,28,4,28,122.333333,0.414667,0.493333,34.333333,45.333333
152,2022-12-02,22200336,Final,GSW,CHI,2022,GSW,119.0,0.483,0.652,...,1,2022-12-02,4,4,4,121.333333,0.392333,0.487000,33.666667,48.333333
140,2022-12-03,22200342,Final,GSW,HOU,2022,GSW,120.0,0.529,0.500,...,1,2022-12-03,10,5,10,124.000000,0.405667,0.497667,33.666667,48.000000
126,2022-12-05,22200359,Final,GSW,IND,2022,GSW,104.0,0.404,0.789,...,0,2022-12-05,11,0,11,122.666667,0.441667,0.509000,33.000000,44.666667
89,2022-12-10,22200392,Final,GSW,BOS,2022,GSW,123.0,0.511,0.800,...,1,2022-12-10,2,5,2,114.333333,0.392000,0.472000,30.666667,44.000000

In [123]:
games_rolling = games.groupby("HOME_TEAM_ID").apply(lambda x: rolling_averages(x, cols, new_cols))

/var/folders/05/74y272d15f9741d915m6j1vc0000gn/T/ipykernel_2474/1113319532.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  games_rolling = games.groupby("HOME_TEAM_ID").apply(lambda x: rolling_averages(x, cols, new_cols))

In [125]:
games_rolling

                   GAME_DATE_EST   GAME_ID GAME_STATUS_TEXT HOME_TEAM_ID  \
HOME_TEAM_ID Index
ATL          19033    2003-11-17  20300141            Final          ATL
             18996    2003-11-22  20300177            Final          ATL
             18985    2003-11-24  20300190            Final          ATL
             18970    2003-11-26  20300202            Final          ATL
             18955    2003-11-28  20300212            Final          ATL
...                          ...       ...              ...          ...
WAS          232      2022-11-20  22200241            Final          WAS
             171      2022-11-28  22200300            Final          WAS
             132      2022-12-04  22200349            Final          WAS
             86       2022-12-10  22200389            Final          WAS
             71       2022-12-12  22200403            Final          WAS

                   VISITOR_TEAM_ID  SEASON TEAM_ID_home  PTS_home  \
HOME_TEAM_ID Index
ATL          19033             WAS    2003          ATL      97.0
             18996             CLE    2003          ATL      92.0
             18985             DET    2003          ATL      89.0
             18970             TOR    2003          ATL      97.0
             18955             MIA    2003          ATL      95.0
...                            ...     ...          ...       ...
WAS          232               CHA    2022          WAS     106.0
             171               MIN    2022          WAS     142.0
             132               LAL    2022          WAS     119.0
             86                LAC    2022          WAS     107.0
             71                BKN    2022          WAS     100.0

                    FG_PCT_home  FT_PCT_home  ...  HOME_TEAM_WINS       DATE  \
HOME_TEAM_ID Index                            ...
ATL          19033        0.423        0.872  ...               0 2003-11-17
             18996        0.447        0.933  ...               1 2003-11-22
             18985        0.435        0.962  ...               0 2003-11-24
             18970        0.477        0.667  ...               0 2003-11-26
             18955        0.393        0.857  ...               1 2003-11-28
...                         ...          ...  ...             ...        ...
WAS          232          0.430        0.722  ...               1 2022-11-20
             171          0.571        0.852  ...               1 2022-11-28
             132          0.467        0.733  ...               0 2022-12-04
             86           0.435        0.895  ...               0 2022-12-10
             71           0.468        0.682  ...               0 2022-12-12

                    opp_code DAY_CODE  OPP_CODE  PTS_home_rolling  \
HOME_TEAM_ID Index
ATL          19033        29        0        29         91.333333
             18996         5        5         5         90.666667
             18985         8        0         8         91.333333
             18970        27        2        27         92.666667
             18955        15        4        15         92.666667
...                      ...      ...       ...               ...
WAS          232           3        6         3        109.666667
             171          17        0        17        111.000000
             132          13        6        13        118.333333
             86           12        5        12        122.333333
             71            1        0         1        122.666667

                    FG3_PCT_home_rolling  FG_PCT_home_rolling  \
HOME_TEAM_ID Index
ATL          19033              0.347000             0.425667
             18996              0.299000             0.410667
             18985              0.254667             0.417333
             18970              0.232667             0.435000
             18955              0.197333             0.453000
...                                  ...                  ...
WAS          232                0.433667             0.452667
             171                0.402667             0.456333
             132                0.397333             0.476000
             86                 0.374000             0.489333
             71                 0.403667             0.491000

                    AST_home_rolling  REB_home_rolling
HOME_TEAM_ID Index
ATL          19033         20.666667         41.666667
             18996         17.000000         42.666667
             18985         18.666667         41.000000
             18970         17.666667         43.000000
             18955         21.333333         45.333333
...                              ...               ...
WAS          232           30.333333         47.333333
             171           28.000000         48.000000
             132           27.666667         45.666667
             86            24.666667         42.333333
             71            26.333333         42.666667

[26447 rows x 30 columns]

In [127]:
games_rolling = games_rolling.droplevel("HOME_TEAM_ID")

In [129]:
games_rolling

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,HOME_TEAM_WINS,DATE,opp_code,DAY_CODE,OPP_CODE,PTS_home_rolling,FG3_PCT_home_rolling,FG_PCT_home_rolling,AST_home_rolling,REB_home_rolling
Index,,,,,,,,,,,,,,,,,,,,,
19033,2003-11-17,20300141,Final,ATL,WAS,2003,ATL,97.0,0.423,0.872,...,0,2003-11-17,29,0,29,91.333333,0.347000,0.425667,20.666667,41.666667
18996,2003-11-22,20300177,Final,ATL,CLE,2003,ATL,92.0,0.447,0.933,...,1,2003-11-22,5,5,5,90.666667,0.299000,0.410667,17.000000,42.666667
18985,2003-11-24,20300190,Final,ATL,DET,2003,ATL,89.0,0.435,0.962,...,0,2003-11-24,8,0,8,91.333333,0.254667,0.417333,18.666667,41.000000
18970,2003-11-26,20300202,Final,ATL,TOR,2003,ATL,97.0,0.477,0.667,...,0,2003-11-26,27,2,27,92.666667,0.232667,0.435000,17.666667,43.000000
18955,2003-11-28,20300212,Final,ATL,MIA,2003,ATL,95.0,0.393,0.857,...,1,2003-11-28,15,4,15,92.666667,0.197333,0.453000,21.333333,45.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,2022-11-20,22200241,Final,WAS,CHA,2022,WAS,106.0,0.430,0.722,...,1,2022-11-20,3,6,3,109.666667,0.433667,0.452667,30.333333,47.333333
171,2022-11-28,22200300,Final,WAS,MIN,2022,WAS,142.0,0.571,0.852,...,1,2022-11-28,17,0,17,111.000000,0.402667,0.456333,28.000000,48.000000
132,2022-12-04,22200349,Final,WAS,LAL,2022,WAS,119.0,0.467,0.733,...,0,2022-12-04,13,6,13,118.333333,0.397333,0.476000,27.666667,45.666667
86,2022-12-10,22200389,Final,WAS,LAC,2022,WAS,107.0,0.435,0.895,...,0,2022-12-10,12,5,12,122.333333,0.374000,0.489333,24.666667,42.333333
71,2022-12-12,22200403,Final,WAS,BKN,2022,WAS,100.0,0.468,0.682,...,0,2022-12-12,1,0,1,122.666667,0.403667,0.491000,26.333333,42.666667

In [131]:
games_rolling.index = range(games_rolling.shape[0])
games_rolling

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,HOME_TEAM_WINS,DATE,opp_code,DAY_CODE,OPP_CODE,PTS_home_rolling,FG3_PCT_home_rolling,FG_PCT_home_rolling,AST_home_rolling,REB_home_rolling
0,2003-11-17,20300141,Final,ATL,WAS,2003,ATL,97.0,0.423,0.872,...,0,2003-11-17,29,0,29,91.333333,0.347000,0.425667,20.666667,41.666667
1,2003-11-22,20300177,Final,ATL,CLE,2003,ATL,92.0,0.447,0.933,...,1,2003-11-22,5,5,5,90.666667,0.299000,0.410667,17.000000,42.666667
2,2003-11-24,20300190,Final,ATL,DET,2003,ATL,89.0,0.435,0.962,...,0,2003-11-24,8,0,8,91.333333,0.254667,0.417333,18.666667,41.000000
3,2003-11-26,20300202,Final,ATL,TOR,2003,ATL,97.0,0.477,0.667,...,0,2003-11-26,27,2,27,92.666667,0.232667,0.435000,17.666667,43.000000
4,2003-11-28,20300212,Final,ATL,MIA,2003,ATL,95.0,0.393,0.857,...,1,2003-11-28,15,4,15,92.666667,0.197333,0.453000,21.333333,45.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26442,2022-11-20,22200241,Final,WAS,CHA,2022,WAS,106.0,0.430,0.722,...,1,2022-11-20,3,6,3,109.666667,0.433667,0.452667,30.333333,47.333333
26443,2022-11-28,22200300,Final,WAS,MIN,2022,WAS,142.0,0.571,0.852,...,1,2022-11-28,17,0,17,111.000000,0.402667,0.456333,28.000000,48.000000
26444,2022-12-04,22200349,Final,WAS,LAL,2022,WAS,119.0,0.467,0.733,...,0,2022-12-04,13,6,13,118.333333,0.397333,0.476000,27.666667,45.666667
26445,2022-12-10,22200389,Final,WAS,LAC,2022,WAS,107.0,0.435,0.895,...,0,2022-12-10,12,5,12,122.333333,0.374000,0.489333,24.666667,42.333333
26446,2022-12-12,22200403,Final,WAS,BKN,2022,WAS,100.0,0.468,0.682,...,0,2022-12-12,1,0,1,122.666667,0.403667,0.491000,26.333333,42.666667

In [145]:
def make_predictions(data, predictors):
    train = data[data["GAME_DATE_EST"] < '2018-01-01']
    test = data[data["GAME_DATE_EST"] >= '2018-01-01']
    rf.fit(train[predictors], train["HOME_TEAM_WINS"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["HOME_TEAM_WINS"], prediction=preds), index=test.index)
    precision = precision_score(test["HOME_TEAM_WINS"], preds)
    return combined, precision

In [147]:
combined, precision = make_predictions(games_rolling, predictors + new_cols)
precision

0.570034843205575

In [149]:
combined = combined.merge(games_rolling[["GAME_DATE_EST", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "HOME_TEAM_WINS"]], left_index=True, right_index=True)
combined

,actual,prediction,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_WINS
666,0,1,2018-01-12,ATL,BKN,0
667,1,1,2018-01-15,ATL,SAS,1
668,1,1,2018-01-17,ATL,NOP,1
669,0,1,2018-01-20,ATL,CHI,0
670,1,0,2018-01-22,ATL,UTA,1
...,...,...,...,...,...,...
26442,1,1,2022-11-20,WAS,CHA,1
26443,1,1,2022-11-28,WAS,MIN,1
26444,0,1,2022-12-04,WAS,LAL,0
26445,0,1,2022-12-10,WAS,LAC,0
26446,0,1,2022-12-12,WAS,BKN,0

In [159]:
merged = combined.merge(combined, left_on=["GAME_DATE_EST", "VISITOR_TEAM_ID"], right_on=["GAME_DATE_EST", "VISITOR_TEAM_ID"])

In [161]:
merged

,actual_x,prediction_x,GAME_DATE_EST,HOME_TEAM_ID_x,VISITOR_TEAM_ID,HOME_TEAM_WINS_x,new_team_x,actual_y,prediction_y,HOME_TEAM_ID_y,HOME_TEAM_WINS_y,new_team_y
0,0,1,2018-01-12,ATL,BKN,0,NaN,0,1,ATL,0,NaN
1,1,1,2018-01-15,ATL,SAS,1,NaN,1,1,ATL,1,NaN
2,1,1,2018-01-17,ATL,NOP,1,NaN,1,1,ATL,1,NaN
3,0,1,2018-01-20,ATL,CHI,0,NaN,0,1,ATL,0,NaN
4,1,0,2018-01-22,ATL,UTA,1,NaN,1,0,ATL,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6620,1,1,2022-11-20,WAS,CHA,1,NaN,1,1,WAS,1,NaN
6621,1,1,2022-11-28,WAS,MIN,1,NaN,1,1,WAS,1,NaN
6622,0,1,2022-12-04,WAS,LAL,0,NaN,0,1,WAS,0,NaN
6623,0,1,2022-12-10,WAS,LAC,0,NaN,0,1,WAS,0,NaN
6624,0,1,2022-12-12,WAS,BKN,0,NaN,0,1,WAS,0,NaN

In [163]:
precision

0.570034843205575